<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/contact.css')}}">
    <title>Contact</title>
</head>
<body>
    <header>
        <h1>Hernandez Clinic</h1>
        <span>Contact Page</span>
    </header>
      
    <div class="container blue topBotomBordersOut">
        <p>Phone</p>
        <p>For information, call 855-852-8129 (toll-free).</p>

        <p>Email</p>
        <p>development@hernandez.edu</p>

        <p>Mail</p>
        <p>Hernandez Clinic</p>
        <p>200 First St. Rochester, MN 55905</p>
        <p> </p>

        <a href="/patients">PACIENTES</a>
        <a href="/doctors">DOCTORES</a>
        <a href="/aboutus">CONOCENOS</a>
        <a href="/fact">DATO CURIOSO</a>
        <a href="/home">HOME</a>
    </div>

    <footer>
        <span>shernanadezz(C) All rights Reserved</span>
    </footer>
</body>
</html>