<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/doctors.css')}}">
    <title>Doctors</title>
</head>
<body>
    <h6>Camille Delgado</h6>
    <h6>Madelynn Kemp</h6>
    <h6>Krish Rogers</h6>
    <h6>Ahmed Fox</h6>
    <h6>Anabelle Flores</h6>
    <h6>Ciara Jimenez</h6>
    <h6>Azaria Doyle</h6>
    <h6>Izabelle Rivas</h6>
    <h6>Bryson Haley</h6>
    <h6>Colin Wolf</h6>
    <h6>Kieran Murillo</h6>
    <h6>Alyvia Barnett</h6>
    <h6>Micah Downs</h6>
    <h6>Priscilla Moran</h6>
    <h6>Peyton Jenkins</h6>
    <h6>Marshall Gregory</h6>
    <h6>Jaylah Underwood</h6>
    <h6>Kaitlynn Hood</h6>
    <h6>Karma Chen</h6>
    <h6>Mina Carrillo</h6>

    <div class="container blue topBotomBordersOut">
        <a href="/patients">PACIENTES</a>
        <a href="/aboutus">CONOCENOS</a>
        <a href="/contact">CONTACT</a>
        <a href="/fact">DATO CURIOSO</a>
        <a href="/home">HOME</a>
    </div>
</body>
</html>