<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/fact.css')}}">
    <title>Fact</title>
</head>
<body>
    <header>
        <h1>Hernandez Clinic</h1>
        <span>Facts Page</span>
    </header>
      
    <div class="container blue topBotomBordersOut">
        <h1>En mi tiempo libre busco maneras de generar un numero primo de Sophie Germain de mas de 1024 Bits en un timepo razonable para usarlo en el algoritmo de intercambio Diffie-Helman.</h1>
    </div>

    <div class="container blue topBotomBordersOut">
        <a href="/patients">PACIENTES</a>
        <a href="/doctors">DOCTORES</a>
        <a href="/aboutus">CONOCENOS</a>
        <a href="/contact">CONTACT</a>
        <a href="/home">HOME</a>
    </div>

    <footer>
        <span>shernanadezz(C) All rights Reserved</span>
    </footer>
</body>
</html>