<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/patients.css')}}">
    <title>Patients</title>
</head>
<body>
    <h6>Juan Navarro</h6>
    <h6>Paxton Moyer</h6>
    <h6>Erika Mcclain</h6>
    <h6>Liam Craig</h6>
    <h6>Jaylyn Schmitt</h6>
    <h6>Davin Duarte</h6>
    <h6>Marisol Velasquez</h6>
    <h6>Izabelle Curtis</h6>
    <h6>Hadassah Lamb</h6>
    <h6>Natalee Warren</h6>
    <h6>Stella Clarke</h6>
    <h6>Emerson Hoover</h6>
    <h6>Zaiden Sweeney</h6>
    <h6>Guadalupe Vaughan</h6>
    <h6>Giada Petty</h6>
    <h6>Trevon Ramos</h6>
    <h6>Elijah Garrett</h6>
    <h6>Jazmine Mason</h6>
    <h6>Andreas Andersen</h6>
    <h6>Gerald Walls</h6>
    <h6>Lamont Vasquez</h6>
    <h6>Leland Lynch</h6>
    <h6>Cristal Leon</h6>
    <h6>Kaydence Diaz</h6>
    <h6>Darwin Pena</h6>

    <div class="container blue topBotomBordersOut">
        <a href="/doctors">DOCTORES</a>
        <a href="/aboutus">CONOCENOS</a>
        <a href="/contact">CONTACT</a>
        <a href="/fact">DATO CURIOSO</a>
        <a href="/home">HOME</a>
    </div>
</body>
</html>