.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 6vw;
    padding: 1vw;
    padding-bottom: 1.8vw;
    margin: 1vw;
    color: white;
    background-color: #4caf50;
    border-radius: 12px;
}

.subTitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 4vw;
    padding: 1vw;
    padding-bottom: 1.8vw;
    margin: 1vw;
    color: #4caf50;
    border-radius: 12px;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 2vw;
    margin: 2vw;
    text-align: justify;
}


.note {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    text-align: justify;
    width: 30vw;
    border: 4px solid #ff9800;
    margin: 2vw;
    padding: 1vw;
    float: right;
    right: 0%;
    border-radius: 12px;
}

.portrait {
    float: right;
    width: 37vw;
    margin: 2vw;
    right: 0%;
    border-radius: 12px;
}

#wideImg {
    width: 90vw;
    display: block;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;
    right: 0%;
    border-radius: 12px;
}

#footer {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #4caf50;
    border-radius: 10px;
    padding: 1vw;
    color: white;
}

#link {
    color: white;
}