<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/about.css')}}">
    <title>About</title>
</head>
<body>
    <header>
        <h1>Hernandez Clinic</h1>
        <span>About Page</span>
    </header>
      
    <div class="container blue topBotomBordersOut">
        <p>Mission</p>
        <p>Inspiring hope and promoting health through integrated clinical practice, education and research.</p>
            
        <p>Vision</p>
        <p>Transforming medicine to connect and cure as the global authority in the care of serious or complex disease.</p>
            
        <p>Primary value</p>
        <p>The needs of the patient come first.</p>

        <a href="/doctors">DOCTORS</a>
        <a href="/services">SERVICES</a>
        <a href="/contact">CONTACT</a>
        <a href="/home">HOME</a>
    </div>

    <footer>
        <span>shernanadezz(C) All rights Reserved</span>
    </footer>
</body>
</html>