<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/home.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Hernandez Clinic</h1>
        <span>Home Page</span>
    </header>
      
    <div class="container blue topBotomBordersOut">
        <a href="/doctors">DOCTORS</a>
        <a href="/services">SERVICES</a>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
    </div>

    <footer>
        <span>shernanadezz(C) All rights Reserved</span>
    </footer>
</body>
</html>